@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
        .cinzel{
            font-family: "Cinzel", serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
        }
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #4facfe, #00f2fe);
            text-align: center;
            padding: 20px;
            position: relative;
            transition: background-color 2s ease-in;
        }
        .container {
            max-width: 400px;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 20px;
            margin: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(10px)
        }
        input {
            width: 80%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            border: none;
            background: #4facfe;
            color: white;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background: #00f2fe;
        }
        #weather-info {
            margin-top: 20px;
            font-size: 18px;
        }
        .bg-icon{ 
            height: 500px;
            width: 500px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .sun{
            background-image: url("sun.svg");
            
        }
        .snow{
            background-image: url("snow.svg");
        }
        .rain{
            background-image: url("rain.svg");
        }
        .clouds{
            background-image: url("cloud.svg");
        }
        .default{
            background-image: none;
        }
        .bg-icon img{
            height: 400;
            width: 400;
        }
